<h1>Angular Universal with Runtime configuration - Solution B</h1>
<p>Uses config.json with <b>platformBrowserDynamic</b> to load configuration before app.module initialisation so it can be used in non-component/non-service types.</p>
<p>See:</p>
<ul>
<li><a href="https://juristr.com/blog/2018/01/ng-app-runtime-config/" target="_blank">Compile-time vs. Runtime configuration of your Angular App</a></li>
<li><a href="https://timdeschryver.dev/blog/angular-build-once-deploy-to-multiple-environments#wrapping-up" target="_blank">Build once deploy to multiple environments</a></li>
</ul>
<h2>Runtime configuration:</h2>
  <ul>
    <li><b>Env:</b> {{config.env}}</li>
    <li class="activeTheme"><b>ActiveTheme:</b> {{config.activeTheme}}</li>
    <li><b>LoggerLevel:</b> {{config.loggerLevel}}</li>
    <li><b>BuildRef:</b> {{config.buildRef}}</li>
  </ul>
  <h2>Commands:</h2>
  <ul>
    <li><b>Browser:</b> ng serve (Works✔️)</li>
    <li><b>Dev server-side-render:</b> npm run dev:ssr (Works✔️)</li>
    <li><b>Prerender:</b> npm run prerender (Works✔️)</li>
  </ul>
<router-outlet></router-outlet>
